[user]
    email = fatalbatros@gmail.com
    name = alba
    signingkey = E6FAF5C7F520CAB7
[commit]
    gpgsign = true

[push]
    autoSetupRemote = true

[init]
    defaultBranch = master

[tag]
    gpgsign = true

[gpg]
    program = /home/alba/.config/gpg/gpg-git
